body {
    font-family: Helvetica Neue;
    font-weight: lighter;
}

.bottomhalf {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 50%;
    background-color: black;
}

#canvas {
    position: absolute;
    height: 50%;
    width: 100%;
}

#canvas2 {
    position: absolute;
    top: 50%;
    height: 50%;
    width: 100%;
}

.row {
    height: 50%;
    width: 100%;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
}

.top {
    top: 0;
}

.bottom {
    top: 50%;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 25em;
    pointer-events: auto;
}

#first-name {}

#last-name {}

.buttons a,
h1 {
    padding-left: .5em;
    padding-right: .5em;
    margin: 0;
    transition: all .25s;
}

.tabs {
    position: absolute;
    right: 10%;
    bottom: 0;
    transition: all .5s;
}

.tabs a {
    color: black;
}

.tabs a:hover {
    opacity: .5;
}

.links a {
    color: white;
}

.links a:hover {
    opacity: .5;
}

.links {
    position: absolute;
    right: 10%;
    transition: all .5s;
}

.top-panel {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottom-panel {
    height: 50%;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panel {
    text-align: center;
    line-height: 1.5em;
    width: 25em;
    margin-left: 10%;
}

.on {
    font-size: 2em;
    padding-left: -.5em;
}

.selected {}

a {
    font-size: 1em;
    text-decoration: none;
}

.resume {
    color: white;
    font-size: 2.5em;
    transition: all .125s;
}

.resume:hover {
    font-weight: 300;
}

.prism {
    font-weight: 300;
    text-decoration: none;
    font-size: 5em;
}

.letter {
    transition: all .25s;
}

.p-hover[style] {
    color: blue !important;
}

.r-hover[style] {
    color: red !important;
}

.i-hover[style] {
    color: cyan !important;
}

.s-hover[style] {
    color: green !important;
}

.m-hover[style] {
    color: magenta !important;
}

h1 {
    font-size: 3em;
    font-weight: lighter;
}

h2 {
    font-size: 2em;
    font-weight: lighter;
}

h6 {
    font-size: .2em;
}

.picture {
    width: 25em;
    height: 15em;
}

#slider {
    width: 25em;
    height: auto;
    overflow: hidden;
    transition: all .25s;
}

#slider:hover {
    opacity: .75;
}

#slider .slides {
    display: block;
    width: 150em;
    height: auto;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 25em;
    height: auto;
}

@media screen and (max-width: 480px) {
    html {
        font-size: 2.5vmin;
        /* Base font-size of 32px */
    }
    .panel {
        margin: auto;
    }
    .tabs,
    .links {
        position: static;
        margin-left: auto;
        margin-right: auto;
    }
    .info,
    .contact,
    .tabs,
    .links {
        font-weight: 400;
    }
    #first-name,
    #last-name,
    {
        font-weight: 300;
    }
    .tabs {
        margin-top: auto;
    }
}

@media screen and (max-height: 360px) {
    html {
        font-size: 2.5vmin;
        /* Base font-size of 32px */
    }
    .info,
    .contact,
    .tabs,
    .links {
        font-weight: 400;
    }
}
