body {
    font-family: Helvetica Neue;
    font-weight: lighter;
}
.row {
    height: 50%;
    width: 100%;
    pointer-events: none;
    display:flex;
    flex-direction: column;
}
.top{
    position: absolute;
    left: 0;
    top: 0;
   
}
.bottom {
    position: absolute;
    left: 0;
    top: 50%;
    color: white;
}

.buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    pointer-events: auto;
}

.buttons a,h1 {
    list-style: none;
    padding-left: .5em;
    padding-right: .5em;
    margin: 0;
}

.tabs {
    margin-top: auto;
    align-self: center;
    padding-left: 7em;
}

.tabs a {
    color: black;
    transition: all .25s;
}

.tabs a:hover {
    opacity: .5;
}

.links a {
    color: white;
    padding-left: .5em;
    padding-right: .5em;
    transition: all .25s;
}
.links a:hover {
    opacity: .5;
}

.on {
    font-size: 2em;
}

a {
    text-decoration: none;
}

.resume {
    color: white;
    font-size: 2.5em;
    text-decoration: none;
    transition: all .125s;
}

.resume:hover {
    font-weight: 300;
}

.prism {
    font-weight: 300;
    text-decoration: none;
    font-size: 2.5em;
}

.letter {
    transition: all .25s;
}

.p-hover[style] {
    color: blue !important;
}
.r-hover[style] {
    color: red !important;
}

.i-hover[style] {
    color: cyan !important;
}

.s-hover[style] {
    color: green !important;
}

.m-hover[style] {
    color: magenta !important;
}

.links {
    align-self: center;
    padding-right: 7em;
}

.top-panel {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
.bottom-panel {
    height: 50%;
    width: 100%;
    
    position: absolute;
    top: 50%;
    left: 0;
    color: white;
    
    background-color: black;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panel {
    text-align: center;
    width: 20em;
    z-index: 1;
}

.panel.upper {
    margin-left: 2.5em;
}

.panel.lower {
    margin-left: auto;
    margin-right: 2.5em;
}

h1 {
    font-size: 3em;
    font-weight: lighter;
}

h2 {
    font-size: 2em;
    font-weight: lighter;
}

h6 {
    font-size: .2em;
}

.picture {
    width: 20em;
    height: 12em;
}



#slider {
    width: 20em;
    height: auto;
    overflow: hidden;
    transition: all .25s;
}

#slider:hover {
    opacity: .75;
}

#slider .slides {
    display: block;
    width: 120em;
    height: auto;
    margin: 0;
    padding: 0;
}

#slider .slide {
    float: left;
    list-style-type: none;
    width: 20em;
    height: auto;
}

@media screen and (max-width: 736px) {
    
    html {
        font-size: 2.5vmin;
        /* Base font-size of 32px */ 
    }
}

@media screen and (max-height: 736px) {
    
    html {
        font-size: 2.5vmin;
        /* Base font-size of 32px */ 
    }
}





